<div class="col-3-container">
  <div class="row">

    <div class="columns medium-4 col-left">
      <div class="service">
        <div class="service-icon-box">
          <img src="https://upload.wikimedia.org/wikipedia/en/thumb/5/5a/SpaceX_CRS-3.png/360px-SpaceX_CRS-3.png" alt="" class="service-icon">
        </div>
        <h4 class="service-heading">Interstellar Travel</h4>
        <p class="service-description">It has been a very busy few months for the Project Voyager team.</p>
      </div>
    </div>

    <div class="columns medium-4 col-mid">
      <div class="service">
        <div class="service-icon-box">
          <img src="https://upload.wikimedia.org/wikipedia/en/thumb/5/5a/SpaceX_CRS-3.png/360px-SpaceX_CRS-3.png" alt="" class="service-icon">
        </div>
        <h4 class="service-heading">Interstellar Travel</h4>
        <p class="service-description">It has been a very busy few months for the Project Voyager team.</p>
      </div>
    </div>

    <div class="columns medium-4 col-right">
      <div class="service">
        <div class="service-icon-box">
          <img src="https://upload.wikimedia.org/wikipedia/en/thumb/5/5a/SpaceX_CRS-3.png/360px-SpaceX_CRS-3.png" alt="" class="service-icon">
        </div>
        <h4 class="service-heading">Interstellar Travel</h4>
        <p class="service-description">It has been a very busy few months for the Project Voyager team.</p>
      </div>
    </div>


  </div>
</div>