<div class="location-row row full-row">
  <div class="quad bg-light" data-cta-target=".js-modal-1" data-disable-scroll=true>
    <p class="location white-txt text-center ">this</p>
    <p class="address text-center white-txt">this</p>
    <p class="phone white-txt text-center">000.000.0000</p>
  </div>
  <div class="quad bg-dark" data-cta-target=".js-modal-2" data-disable-scroll=true>
    <p class="location white-txt text-center ">this</p>
    <p class="address text-center white-txt">this</p>
    <p class="phone white-txt text-center">000.000.0000</p>
  </div>
  <div class="quad bg-mid" data-cta-target=".js-modal-3" data-disable-scroll=true>
    <p class="location white-txt text-center ">this</p>
    <p class="address text-center white-txt">this</p>
    <p class="phone white-txt text-center">000.000.0000</p>
  </div>
  <div class="quad bg-light" data-cta-target=".js-modal-4" data-disable-scroll=true>
    <p class="location white-txt text-center ">this</p>
    <p class="address text-center white-txt">this</p>
    <p class="phone white-txt text-center">000.000.0000</p>
  </div>
</div>
