<div class="row full-row align-middle">
  <div class="columns small-6 large-3 quad bg-light" data-cta-target=".cta-modal-1" data-disable-scroll=true>
    <p class="location white-txt text-center ">this</p>
    <p class="address text-center white-txt">this</p>
    <p class="phone white-txt text-center">000.000.0000</p>
  </div>
  <div class="columns small-6 large-3 quad bg-dark" data-cta-target=".cta-modal-2" data-disable-scroll=true>
    <p class="location white-txt text-center ">this</p>
    <p class="address text-center white-txt">this</p>
    <p class="phone white-txt text-center">000.000.0000</p>
  </div>
  <div class="columns small-6 large-3 quad bg-mid" data-cta-target=".cta-modal-3" data-disable-scroll=true>
    <p class="location white-txt text-center ">this</p>
    <p class="address text-center white-txt">this</p>
    <p class="phone white-txt text-center">000.000.0000</p>
  </div>
  <div class="columns small-6 large-3 quad bg-light" data-cta-target=".cta-modal-4" data-disable-scroll=true>
    <p class="location white-txt text-center ">this</p>
    <p class="address text-center white-txt">this</p>
    <p class="phone white-txt text-center">000.000.0000</p>
  </div>
</div>
