<div class="location-row row full-row">
  <div class="quad bg-dark">
    <p href="#" class="text-center white-txt quad-text">OUR STORY</p>
  </div>
  <div class="quad bg-pink">
    <p href="#" class="text-center white-txt quad-text">LOCATIONS</p>
  </div>
  <div class="quad bg-white">
    <p href="#" class="text-center quad-text">TAKEAWAY</p>
  </div>
  <div class="quad bg-mid">
    <p href="#" class="text-center white-txt quad-text">CATERING</p>
  </div>
</div>

<div class="row join-cta">
  <div class="row">
    <h2 class="title-cta">JOIN lorem ipsum </h2>
  </div>
  <div class="row">
    <p class=" description-cta">lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum  lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum</p>
    <div class="social-icons-row">
      <a href="" class="round-icons"><i class="fi-social-twiiter large-icon"></i></a>
      <a href="" class="round-icons"><i class="fi-social-instagram large-icon"></i></a>
      <a href="" class="round-icons"><i class="fi-social-facebook large-icon"></i></a>
    </div>
  </div>
</div>