---
pricing-table:
  -
    title: Basic
    price: $9.99
	features:
	  -
	    title: Feature 1
	    availability: available
	  -
	    title: Feature 2
	    availability: unavailable
	  -
	    title: Feature 3
	    availability: unavailable
	  -
	    title: Feature 4
	    availability: unavailable
  -
    title: Popular
    price: $19.99
	features:
	  -
	    title: Feature 1
	    availability: available
	  -
	    title: Feature 2
	    availability: available
	  -
	    title: Feature 3
	    availability: unavailable
	  -
	    title: Feature 4
	    availability: unavailable
  -
    title: Premier
    price: $29.99
	features:
	  -
	    title: Feature 1
	    availability: available
	  -
	    title: Feature 2
	    availability: available
	  -
	    title: Feature 3
	    availability: available
	  -
	    title: Feature 4
	    availability: available
---

{{>data-pricing-table}}