
//how many images we have
$slides: 3;

// how much we want each slide to show
$time_per_slide: 3;

// total time needed for full animation
$total_animation_time: $time_per_slide * $slides;


.container{
  // margin: 0 0 0 -17px;
  @include breakpoint(large) {
    margin: 0 0 0 -17em;
  }
  @include breakpoint(small) {
    margin: 0 0 0 -17px;
  }
  // width: 1000px;
  // width: 128vw;
  max-width: 1500px;
  height: 500px;
  overflow:hidden;
  // border:10px solid;
  // border-top-color:#856036;
  // border-left-color:#5d4426;
  // border-bottom-color:#856036;
  // border-right-color:#5d4426;
  position:relative;

}
.photo{
  position:absolute;
  animation:round #{$total_animation_time}s infinite;
  opacity:0;
  height: 500px;
  width: 76.5%;
  // min-width: 80%;
  background-size: 100%;
  background-repeat: no-repeat;
}

@keyframes round{   
  25%{
    opacity:1;
  }
  40%{
    opacity:0;
  }
} 

@for $index from 1 to $slides + 1{
  div:nth-child(#{$index}){
    animation-delay:#{$total_animation_time - $time_per_slide * $index}s
  }
}
   

.photo:nth-child(3){
    background-image: url("https://images.unsplash.com/photo-1430931071372-38127bd472b8?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&w=1080&fit=max&s=474ca2203676095ec5ef8574ae5001db");
}
.photo:nth-child(2){
    background-image: url("https://images.unsplash.com/photo-1416453072034-c8dbfa2856b5?crop=entropy&dpr=2&fit=crop&fm=jpg&h=725&ixjsv=2.1.0&ixlib=rb-0.3.5&q=50&w=825");
}
.photo:nth-child(1){
    background-image: url("https://images.unsplash.com/photo-1445012973386-d2fa141ff003?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&w=1080&fit=max&s=5b1de5ff6878affd258f13be6500472b");
}