
	<div class="cta-modal-1  modal  ">
		<span class="modal-close-btn"></span>
		<h1 class="text-center modal-title">Visual Continuity</h1>

		<div class="quote-box">
			<div class="quote-box__bubble">
				<div class="quote">"</div>
				Transitioning between two visual states should be clear, smooth and effortless and not confuse the user. A well-designed transition does the heavy lifting and enables the user to clearly understand where their attention should be focused.
				<div class="quote">"</div>
			</div>
		</div>
	</div>



	<div class="cta-modal-2  modal  ">
		<span class="modal-close-btn"></span>
		<h1>Share it if you like it</h1>
		<br><br>
		<a href="https://twitter.com/share" class="twitter-share-button" data-size="large" data-via="chinchang457" data-related="chinchang457" data-hashtags="animate,javascript">Tweet</a>
	</div>
	<div class="cta-modal-3  modal  ">
		<span class="modal-close-btn"></span>
		<h1>Customary cat!</h1>
		<img src="img/cat.jpg" width="300" alt="">
		<p>You found me :)</p>
	</div>
	<div class="cta-modal-4  modal  ">
		<span class="modal-close-btn"></span>

		<h1>Hierarchical timing</h1>
		<div class="quote-box">
			<div class="quote-box__bubble">When building a transition, consider the order and timing of the elements' movement. Ensure that motion supports the information hierarchy, conveying what content is most important by creating a path for the eye to follow.</div>
			<a href="http://www.google.co.in/design/spec/animation/meaningful-transitions.html#meaningful-transitions-hierarchical-timing">Google Material design</a>
		</div>
	</div>




<script>
    var closeFn;
    function closeShowingModal() {
      var showingModal = document.querySelector('.modal.show');
      if (!showingModal) return;
      showingModal.classList.remove('show');
      document.body.classList.remove('disable-mouse');
      document.body.classList.remove('disable-scroll');
      if (closeFn) {
        closeFn();
        closeFn = null;
      }
    }
    document.addEventListener('click', function (e) {
      var target = e.target;
      if (target.dataset.ctaTarget) {
        closeFn = cta(target, document.querySelector(target.dataset.ctaTarget), { relativeToWindow: true }, function showModal(modal) {
          modal.classList.add('show');
          document.body.classList.add('disable-mouse');
          if(target.dataset.disableScroll){
            document.body.classList.add('disable-scroll');
          }
        });
      }
      else if (target.classList.contains('modal-close-btn')) {
        closeShowingModal();
      }
    });
    document.addEventListener('keyup', function (e) {
      if (e.which === 27) {
        closeShowingModal();
      }
    })
</script>