<header class="header" role="banner">
   <!-- This navs will be applied to the topbar, above all content 
      To see additional nav styles, visit the /parts directory -->
   <!-- By default, this menu will use off-canvas for small
      and a topbar for medium-up -->
   <div class="top-bar" id="top-bar-menu">
      <div class="top-bar-left float-left">
         <ul class="menu">
            <li class="menu-text">JointsWP Demo</li>
         </ul>
      </div>
      <div class="top-bar-right show-for-medium">
         <ul id="menu-main-1" class="vertical medium-horizontal menu accordion-menu" data-responsive-menu="accordion medium-dropdown" role="tablist" aria-multiselectable="true" data-e="7veh8t-e" data-i="p8g610-i">
            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-31" role="menuitem"><a href="http://jointswp.com/demo/" tabindex="0">Foundation Features</a></li>
            <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-132 has-submenu is-accordion-submenu-parent" role="tab" aria-haspopup="true" aria-selected="false" aria-expanded="false" aria-label="Archive Styles" aria-controls="tycqyz-acc-menu" id="qn0s4u-acc-menu-link">
               <a href="#">Archive Styles</a>
               <ul class="menu submenu is-accordion-submenu" data-submenu="" aria-hidden="true" role="tabpanel" style="display: none;" aria-labelledby="qn0s4u-acc-menu-link" id="tycqyz-acc-menu">
                  <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-131 is-submenu-item is-accordion-submenu-item" role="menuitem"><a href="http://jointswp.com/demo/blog/">Blog</a></li>
                  <li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-158 is-submenu-item is-accordion-submenu-item" role="menuitem"><a href="http://jointswp.com/demo/category/grid/">Grid Archive</a></li>
               </ul>
            </li>
            <li class="menu-item menu-item-type-custom menu-item-object-custom current-menu-ancestor current-menu-parent menu-item-has-children menu-item-139 has-submenu is-accordion-submenu-parent" role="tab" aria-haspopup="true" aria-selected="false" aria-expanded="false" aria-label="Navigation Options" aria-controls="t6yn13-acc-menu" id="9zavam-acc-menu-link">
               <a href="#">Navigation Options</a>
               <ul class="menu submenu is-accordion-submenu" data-submenu="" aria-hidden="true" role="tabpanel" style="display: none;" aria-labelledby="9zavam-acc-menu-link" id="t6yn13-acc-menu">
                  <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-140 is-submenu-item is-accordion-submenu-item" role="menuitem"><a href="http://jointswp.com/demo/top-bar-navigation/">Top Bar Navigation</a></li>
                  <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-141 is-submenu-item is-accordion-submenu-item" role="menuitem"><a href="http://jointswp.com/demo/offcanvas-navigation/">Off-Canvas Navigation</a></li>
                  <li class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-153 current_page_item menu-item-154 is-submenu-item is-accordion-submenu-item" role="menuitem"><a href="http://jointswp.com/demo/off-canvas-top-bar/">Off-Canvas Top Bar</a></li>
                  <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-155 is-submenu-item is-accordion-submenu-item" role="menuitem"><a href="http://jointswp.com/demo/title-bar/">Title Bar Navigation</a></li>
               </ul>
            </li>
            <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-135 has-submenu is-accordion-submenu-parent" role="tab" aria-haspopup="true" aria-selected="false" aria-expanded="false" aria-label="Extras" aria-controls="1u4xue-acc-menu" id="u7m96r-acc-menu-link">
               <a href="#">Extras</a>
               <ul class="menu submenu is-accordion-submenu" data-submenu="" aria-hidden="true" role="tabpanel" style="display: none;" aria-labelledby="u7m96r-acc-menu-link" id="1u4xue-acc-menu">
                  <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-32 is-submenu-item is-accordion-submenu-item" role="menuitem"><a href="http://jointswp.com/demo/gravity-forms/">Gravity Forms</a></li>
               </ul>
            </li>
            <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-10" role="menuitem"><a href="http://jointswp.com">Download</a></li>
         </ul>
      </div>
      <div class="top-bar-right float-right show-for-small-only">
         <ul class="menu">
            <!-- <li><button class="menu-icon" type="button" data-toggle="off-canvas"></button></li> -->
            <li><a data-toggle="off-canvas" aria-expanded="false" aria-controls="off-canvas">Menu</a></li>
         </ul>
      </div>
   </div>
</header>
<!-- end .header --> 

<div id="content">
   <div id="inner-content" class="row">
      <main id="main" class="large-8 medium-8 columns" role="main">
         <article id="post-153" class="post-153 page type-page status-publish hentry wp-sticky" role="article" itemscope="" itemtype="http://schema.org/WebPage">
            <header class="article-header">
               <h1 class="page-title">Off-Canvas Top Bar</h1>
            </header>
            <!-- end article header -->
            <section class="entry-content" itemprop="articleBody">
               <p>On small screens, it will utilize an off-canvas menu. On medium-up, it will use a dropdown menu.</p>
            </section>
            <!-- end article section -->
            <footer class="article-footer">
            </footer>
            <!-- end article footer -->
            <div id="comments" class="comments-area">
            </div>
            <!-- #comments -->          
         </article>
         <!-- end article -->         
      </main>
      <!-- end #main -->
      <div id="sidebar1" class="sidebar large-4 medium-4 columns" role="complementary">
         <div id="simple_ads_manager_widget-2" class="widget simple_ads_manager_widget">
            <h4 class="widgettitle">Random WordPress Links</h4>
            <div id="c3761_15_3" class="sam-container sam-place" data-sam="0">
               <p><a href="http://jointswp.com/loves/beaver-builder-t">Make it easier for your clients to edit/update their custom website with BeaverBuilder. Works great with JointsWP.</a></p>
            </div>
         </div>
         <div id="text-2" class="widget widget_text">
            <div class="textwidget">
               <p>This widget isn't included in the theme. It is simply being used for the demo site.</p>
            </div>
         </div>
         <div id="search-2" class="widget widget_search">
            <h4 class="widgettitle">Search</h4>
            <form role="search" method="get" class="search-form" action="http://jointswp.com/demo/">
               <label>
               <span class="screen-reader-text">Search for:</span>
               <input type="search" class="search-field" placeholder="Search..." value="" name="s" title="Search for:">
               </label>
               <input type="submit" class="search-submit button" value="Search">
            </form>
         </div>
         <div id="recent-posts-2" class="widget widget_recent_entries">
            <h4 class="widgettitle">Recent Posts</h4>
            <ul>
               <li>
                  <a href="http://jointswp.com/demo/2015/06/14/writing-demo-titles-is-hard/">Writing Demo Titles is Hard</a>
               </li>
               <li>
                  <a href="http://jointswp.com/demo/2015/06/10/a-post-with-a-featured-image/">A Post with a Featured Image</a>
               </li>
               <li>
                  <a href="http://jointswp.com/demo/2015/06/10/short-blog-titles/">Short Blog Titles</a>
               </li>
               <li>
                  <a href="http://jointswp.com/demo/2015/01/23/blog-titles-can-really-long/">Blog Titles Can Be Really Long</a>
               </li>
            </ul>
         </div>
      </div>
   </div>
   <!-- end #inner-content -->
</div>

<!-- end #content -->
<footer class="footer" role="contentinfo">
   <div id="inner-footer" class="row">
      <div class="large-12 medium-12 columns">
         <nav role="navigation">
         </nav>
      </div>
      <div class="large-12 medium-12 columns">
         <p class="source-org copyright">© 2016 JointsWP Demo.</p>
      </div>
   </div>
   <!-- end #inner-footer -->
</footer>